{% extends 'base.html.twig' %}

{% block title %}Editar Categoria{% endblock %}

{% block body %}
    <h1>Editar Categoria</h1>

    {{ include('categoria/_form.html.twig', {'button_label': 'Actualizar'}) }}


    {{ include('categoria/_delete_form.html.twig') }}
{% endblock %}
